In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
from datetime import datetime as dt

In [2]:
url = "http://corona.lamandaukab.go.id/"
html_content = requests.get(url).text
soup = BeautifulSoup(html_content,"html.parser")

In [3]:
#Covid
covid = soup.find_all("div",class_="col-lg-3 col-md-6 col-sm-12")
data = []
head = []
for i in range(0,len(covid)):
    datas = int(covid[i].h3.text)
    heads = str(covid[i].p.text)
    data.append(datas)
    head.append(heads)
df0=pd.DataFrame(data=[data], columns=head)

In [4]:
#Date
scrape_date = dt.now().strftime('%Y-%m-%d')
date=str(soup.find("img",class_="d-block w-100")['src']).replace('_',' ').replace('/',' ')
tanggal = date.split()[1:3]
bulan = ['januari', 'februari', 'maret', 'april', 'mei', 'juni','juli','agustus', 'september', 'oktober','november','desember']
bln = bulan.index(tanggal[1].lower())+1
tanggal_update = dt.now().strftime('%Y') +'-'+str(bln)+'-'+tanggal[0]
date_update = dt.strptime(tanggal_update, '%Y-%m-%d').strftime('%Y-%m-%d')
#Other
kabkot = "Lamandau"
provinsi = 'Kalimantan Tengah'
types = 'kabkot'
user_pic = 'dimas ananda'

In [5]:
df = {'scrape_date': scrape_date,
      'date_update': date_update,
        'provinsi': provinsi,
        'kabkot' : kabkot,
        'kecamatan': "",
        'kelurahan':"",
        'total_odp' : df0['Kontak Erat'],
        'total_pdp': df0['Kasus Suspek'] + df0['Probable'],
        'total_positif':df0['Terkonfimasi Positif'],
        'positif_sembuh':df0['Sembuh'],
        'positif_dirawat':df0["Perawatan"],
        'positif_isolasi':"",
        'positif_meninggal':df0['Meninggal'],
        'types':types,
        'source_link': url,
        'user_pic': user_pic}
df = pd.DataFrame(df)

In [6]:
df

,scrape_date,date_update,provinsi,kabkot,kecamatan,kelurahan,total_odp,total_pdp,total_positif,positif_sembuh,positif_dirawat,positif_isolasi,positif_meninggal,types,source_link,user_pic
0,2021-05-17,2021-05-17,Kalimantan Tengah,Lamandau,,,0,0,516,498,12,,6,kabkot,http://corona.lamandaukab.go.id/,dimas ananda