In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
from datetime import datetime as dt

In [3]:
url = "https://corona.solokkota.go.id/data_pemantauan"
html_content = requests.get(url).text
soup = BeautifulSoup(html_content,"html.parser")

In [4]:
covid = soup.find("table",class_="table table-responsive table-bordered")
#head
head_scrape = covid.thead.find_all("tr")[1].find_all("td")
head = []
for td in range(0,len(head_scrape)) :
    head.append(head_scrape[td].text)
head.insert(6,"Kontak Erat")
head[2]="Total_PPT"
head[11]="Total_PDP"
head[16]="Total_Positif"
#data
data_scrape = covid.tfoot.find_all("th")[1:18]
data = []
for th in range(0,len(data_scrape)):
    data.append(data_scrape[th].text)

In [5]:
#date
date = soup.find_all("table",class_="table table-responsive table-bordered")[1].tbody.find_all("td")[1].text
tanggal = date[6:18].split()
bulan = ['januari', 'februari', 'maret', 'april', 'mei', 'juni','juli','agustus', 'september', 'oktober','november','desember']
bln = bulan.index(tanggal[1].lower())+1
tanggal_update = tanggal[2]+'-'+str(bln)+'-'+tanggal[0]
date_update = dt.strptime(tanggal_update, '%Y-%m-%d').strftime('%Y-%m-%d')
scrape_date = dt.now().strftime('%Y-%m-%d')
#
kabkot = "Kota Solok"
provinsi = 'Sumatera Barat'
types = 'kabkot'
user_pic = 'Dimas Ananda'

In [10]:
df0 = pd.DataFrame(data=[data],columns=head)
df0

,Masa Notifikasi,Habis Masa,Total_PPT,Dalam Pemantauan,Selesai Pemantauan,Total,Kontak Erat,Masih dirawat,Isolasi dirumah,Negatif,Sembuh dan Pulang,Total_PDP,Dirawat,Isolasi Diri dirumah,Meninggal,Sembuh,Total_Positif
0,,,,,,,598,,,,,,8,99,18,876,1001

In [11]:
df = {'scrape_date': scrape_date,
      'date_update': date_update,
        'provinsi': provinsi,
        'kabkot' : kabkot,
        'kecamatan': "",
        'kelurahan':"",
        'total_odp' : df0['Kontak Erat'],
        'total_pdp': df0['Total_PDP'],
        'total_positif':df0['Total_Positif'],
        'positif_sembuh':df0['Sembuh'],
        'positif_dirawat':df0['Dirawat'],
        'positif_isolasi':df0['Isolasi Diri dirumah'],
        'positif_meninggal':df0['Meninggal'],
        'types':types,
        'source_link': url,
        'user_pic': user_pic}
df = pd.DataFrame(df)

In [12]:
df

,scrape_date,date_update,provinsi,kabkot,kecamatan,kelurahan,total_odp,total_pdp,total_positif,positif_sembuh,positif_dirawat,positif_isolasi,positif_meninggal,types,source_link,user_pic
0,2021-05-05,2021-05-05,Sumatera Barat,Kota Solok,,,598,,1001,876,8,99,18,kabkot,https://corona.solokkota.go.id/data_pemantauan,Dimas Ananda